doctype html
html
	head
		title="Fałszywa autoryzacja została ukończona"
	body
		p Jesteś fałszywie zalogowany
	img(src='https://img4.demotywatoryfb.pl//uploads/201002/1266244902_by_DeathKnight_600.jpg')